<app-header></app-header>

<div class="main-content">
  <h2 class="section-title">Nossos Modelos em Destaque</h2>
  <mat-grid-list cols="3" rowHeight="1:1" gutterSize="20px">
    <mat-grid-tile *ngFor="let car of carsDestaque">
      <app-car-card
        [car]="car"
        (addToCart)="adicionarAoCarrinho(car)"
        (viewDetails)="viewDetails(car)"
        [estoque$]="getEstoqueParaCarro(car.id)"
        [vendido]="car.vendido"
      ></app-car-card>
    </mat-grid-tile>
  </mat-grid-list>

  <div *ngIf="purchaseMessage" class="purchase-message">
    {{ purchaseMessage }}
  </div>
</div>
<app-chat-online></app-chat-online>
<app-footer></app-footer>