<h1 mat-dialog-title>Adicionar Novo Usuário</h1>
<div mat-dialog-content>
  <form [formGroup]="form">


    <mat-form-field appearance="outline">
        <mat-label>ID</mat-label>
        <input matInput placeholder="Id" formControlName="id">
        <mat-error *ngIf="form.controls['id'].hasError('required')">Id é obrigatório.</mat-error>
      </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Nome" formControlName="name">
      <mat-error *ngIf="form.controls['name'].hasError('required')">Nome é obrigatório.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Telefone</mat-label>
      <input matInput placeholder="Telefone" formControlName="telefone">
      <mat-error *ngIf="form.controls['telefone'].hasError('required')">Telefone é obrigatório.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" formControlName="email">
      <mat-error *ngIf="form.controls['email'].hasError('required')">Email é obrigatório.</mat-error>
      <mat-error *ngIf="form.controls['email'].hasError('email')">Email inválido.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option value="ativo">Ativa</mat-option>
        <mat-option value="inativo">Desativado</mat-option>
      </mat-select>
    </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-primary [disabled]="!form.valid" (click)="onSalvarClick()">Salvar</button>
</div>