.detalhes-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  background-image: url(/2372.jpg);
  min-height: 100vh; /* Garante que o fundo cubra a tela */
}

.detalhes-titulo {
  font-size: 2em;
  color: #f0f0f0; /* Texto claro para fundo escuro */
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

.carro-detalhe {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  width: 100%;
  padding: 20px;
  border: 1px solid #555; /* Borda mais escura */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra mais pronunciada */
  background-color: #222; /* Fundo escuro */
  color: #f0f0f0; /* Texto claro */
}

.carro-nome {
  font-size: 1.8em;
  color: #f0f0f0;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

.favorito-button {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 1em;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  border: 1px solid #f0f0f0;
  color: #f0f0f0;
  background-color: transparent;
}

.favorito-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.favorito-button.favoritado {
  color: primary; /* Mantém a cor primária para o ícone */
  border-color: primary;
}

.favorito-button .mat-icon {
  margin-right: 5px;
}

.carro-imagem {
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.preco {
  font-size: 1.5em;
  font-weight: bold;
  color: #f0f0f0;
  margin-bottom: 15px;
}

.descricao {
  text-align: justify;
  margin-bottom: 20px;
  color: #ccc;
  line-height: 1.6;
}

.acoes-detalhe {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
}



.acoes-detalhe button:not(.voltar-button) {
  /* Estilos específicos para o botão "Adicionar ao Carrinho" */
  background-color: black;
  color: white;
 
}

.acoes-detalhe button:not(.voltar-button):hover {
  background-color: color-mix(in srgb, primary 80%, black);
  
}

.voltar-button {
  color: #f0f0f0;
  border: 1px solid #f0f0f0;
  background-color: transparent;
}

.voltar-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.acoes-detalhe span {
  color: #ff4d4d; /* Vermelho mais escuro para "Vendido" */
}

.acoes-detalhe span {
  color: #ff6666; /* Vermelho mais claro para "Vendido" */
}

.acoes-detalhe span {
  color: #cc0000; /* Vermelho ainda mais escuro para "Vendido" */
}

.acoes-detalhe span {
  color: #e63946; /* Um tom de vermelho */
}